<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

  <% include ./partials/_header %>

  <%
    var fullShortUrl = hostUrl + "/" + urlObj["shortURL"];
  %>

  <h1 align="center">URL Details:</h1>


  <%
    var updateUrl = '/urls/' + urlObj["shortURL"];
  %>

  <strong>ShortURL: <%= fullShortUrl %> </strong>
  <form method="POST" action="<%= updateUrl %>">
    <input type="text" name="longNewUrl" size="50" value="<%= urlObj['longURL'] %>" autofocus>
    <button>Update</button>
  </form>

</body>
</html>