<h3>TinyApp</h3>
<a href="/">Home Page</a>

<form method="POST" action="/login">
  <h4 align="center">Login Here</h4>

  <table align="center">
    <tr>
      <td>
        <input type="email" name="email" placeholder="Email Address">
      </td>
    </tr>

    <tr>
      <td>
        <input type="password" name="password" placeholder="Password">
      </td>
    </tr>

    <tr>
      <td>
        <button type="submit">Login</button>
      </td>
    </tr>

    <tr>
      <td>
        New User? <a href="/register"> Register </a>
      </td>
    </tr>

</form>